@import url('./colors.css');
.avatar-badge {
    position: relative;
}

.avatar-badge-online-icon {
    height: 12px;
    min-width: 12px;
    color: black;
    background-color: var(--success);
    position: absolute;
    border-radius: 50%;
    bottom: -26px;
    left: 45px;
}

.avatar-badge-notification-icon {
    background-color: var(--primary);
    color: white;
    font-size: 10px;
    height: 15px;
    position: absolute;
    width: 15px;
    text-align: center;
    border-radius: 50%;
    padding: 2px;
    bottom: -26px;
    left: 45px;
    font-weight: bold;
}

.icon-badge {
    position: relative;
    font-size: 35px;
}

.icon-badge-circle-icon {
    height: 12px;
    min-width: 12px;
    color: black;
    background-color: var(--success);
    position: absolute;
    border-radius: 50%;
    left: 27px;
    bottom: 3px;
}

.simple-badge {
    background-color: var(--primary);
    color: white;
    padding: 0.1em 0.7em;
    font-weight: bold;
}

