@import url('colors.css');


/* SMALL CARD */
.card-small {
    display: inline-flex;
    border: 0.5px solid transparent;
    flex-direction: column;
    height: auto;
    max-width: 390px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.card-small-image {
    position: relative;
}

.card-small-content {
    padding: 10px 0px 20px;
}

.card-small-content h4{
    margin: 0px 0px 5px;
    padding: 0 1rem;
}

.card-small-title {
    display: block;
    margin: 0px 0px 8px;
    padding: 0 1rem;
    font-size: 1.5rem;
}

.card-small-content p{
    margin: 0;
    padding: 0 1rem;
    line-height: 1.8rem;
}



.card-small-image img {
    height: auto;
    margin: 0;
    max-width: 100%;
    object-fit: cover;
}

/* SMALL CARD WITH BADGE */
.card-small-image .simple-badge {
    position: absolute;
    top: 0px;
    left: -4px;
}

/* SMALL CARD WITH DISMISS BUTTON */

.card-small-image .card-small-dismiss {
    color: white;
    position: absolute;
    right: 4px;
    top: 3px;
    font-size: 1.2rem;
    cursor: pointer;
}

/* SMALL CARD WITH TEXT OVERLAY */

.card-small-text-overlay {
    position: absolute;
    bottom: 3px;
    left: 0px;
    padding: 0 1rem;
    font-size: 1.5rem;
    color: white;
}

.text-overlay-card {
    position: relative;
    display: inline-block;
    height: 16rem;
    max-width: 28rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.text-overlay-card img {
    height: 100%;
    width: 100%;
    filter: brightness(50%);
}

.text-overlay-content {
    position: absolute;
    color: white;
    top: 0px;
    padding: 1rem;
}

/* TEXT ONLY CARD */
.text-card {
    border: 1px solid transparent;
    height: auto;
    max-width: 390px;
    padding: 0.5rem 1rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

/* HORIZONTAL CARD */

.horizontal-card {
    display: flex;
    width: 80%;
    height: 400px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    font-size: 1em;

}

.horizontal-card-img {
    width: 70%;
    height: auto;
    object-fit: cover;
}

.horizontal-card-content {
    width: 30%;
    padding: 1rem;
}

@media (max-width: 700px){
    .horizontal-card{
        width: 100%;
    }
    .horizontal-card h2{
        font-size: 1.2rem;
    }
}


