@import url("colors.css");

* {
  margin: 0;
}

.main-body {
  display: grid;
  grid-template-columns: 20% 80%;
}

.main-body-sidebar {
  padding: 1rem;
}

.main-body-content {
  padding: 1rem;
}

/* SIDEBAR  */

.sidebar-list {
  list-style: none;
  position: fixed;
  line-height: 2.4rem;
}

.sidebar-list a {
  color: black;
  text-decoration:none;
  font-size: 1.5rem;
  font-weight: 100;
}

.current-item {
  color: var(--primary);
  text-decoration-color: var(--primary);
}

/* CARBON */
.carbon-frame {
  display: block;
}

/* INDEX.JS/FRONT PAGE */

.index-main {
  text-align: center;
  padding: 1rem;
  line-height: 2.5rem;
}

.index-main h2 {
  margin: 0.5rem 0;
}

.index-main p{
  font-size: 1.1rem;
}

/* DISPLAY CODE PRISM.JS */
.display-code {
  max-width: 60%; 
  margin: 2rem 0px 10px;
}

/* FLOATING BUTTON */
.action {
    display:block;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 5;
    display: none;
}

.action.active i {
  transform: rotate(135deg);
}

.action ul {
  text-align: center;
    position: absolute;
    list-style: none;
    line-height: 2.2rem;
    bottom: 45px;
    right: 2rem;
    min-width: 200px;
    visibility: hidden;
    transition: 0.3s;
    color: white;
    background-color: var(--primary);
    padding: 10px;
    border-radius: 15px;
}

.action .current-item{
  color: black;
}

.action a{
  color: white;
  text-decoration:none;
  font-size: 1.5rem;
  font-weight: 100;
}

.action.active ul{
  visibility: visible;
}
.doc-float {
  outline: none;
}

/* HEADINGS */

.heading {
  margin: 20px 0px;
  text-decoration: underline; 
  text-decoration: underline; 
  font-size: 2rem;
}

.main-heading {
  margin: 20px 0px;
  text-decoration: underline; 
  font-size: 2rem;
}

.sub-heading {
  margin: 20px 0px;
  font-size: 1rem;
}

@media (max-width: 700px){
  .main-body {
    display: flex;
    flex-direction: column;
  }
  .main-body-sidebar {
    display: none;
  }
  .sidebar-list {
    display: flex;
  }
  .display-code{
    max-width: 100%;
    z-index: -5;
  }
  .action {
    display: inline;
  }
}



