@import url('./colors.css');

.img-block{
    display: block;
}

.img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    object-fit: cover;
}

.img-rounded-corner{
    border-radius: .25rem;
}

.img-round{
    border-radius: 50%;
}