<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/main.css" />
    <title>PetalCSS</title>
  </head>
  <body>
    <nav class="navbar">
      <a href="/" class="nav-logo">PetalCSS</a>
      <ul class="nav-list">
        <li><a href="/">Home</a></li>
        <li><a href="./avatar.html">Documentation</a></li>
      </ul>
    </nav>
    <div class="main-body">

        <div class="main-body-sidebar ">
            <ul class="sidebar-list">
                <a href="./avatar.html"><li>Avatar</li></a>
                <a href="./alert.html"><li>Alert</li></a>
                <a href="./badge.html"><li>Badge</li></a>
                <a href="./button.html"><li>Button</li></a>
                <a href="./card.html"><li class="current-item">Card</li></a>
                <a href="./image.html"><li>Image</li></a>
                <a href="./input.html"><li>Input</li></a>
                <a href="./list.html"><li>Lists</li></a>
                <a href="./navigation.html"><li>Navigation</li></a>
                <a href="./modal.html"><li>Modal</li></a>
                <a href="./rating.html"><li>Rating</li></a>
                <a href="./grid.html"><li>Grid</li></a>
                <a href="./text-util.html"><li>Text utilities</li></a>
                <a href="./toast.html"><li>Toast</li></a>
            </ul>
        </div>
        <div class="main-body-content">
          <h3 class="heading">Cards</h3>
          <h4 class="sub-heading">1. Normal Card</h4>
          <div class="card-small">
            <div class="card-small-image">
              <img src="../assets/sample-1.jpg" alt="" />
            </div>
            <div class="card-small-content">
              <span class="card-small-title">Hello world</span>
              <p>
                I am a very simple card. I am good at containing small bits of
                information. I am convenient because I require little markup to use
                effectively.
              </p>
            </div>
          </div>


          <div class="display-code">
            <pre class="language-markup"><code><!--
          <div class="card-small">
            <div class="card-small-image">
              <img src="../assets/sample-1.jpg" alt="" />
            </div>
            <div class="card-small-content">
              <span class="card-small-title">Hello world</span>
              <p>
                I am a very simple card. I am good at containing small bits of
                information. I am convenient because I require little markup to use
                effectively.
              </p>
            </div>
          </div>
            --></code></pre>
          </div>

          <h4 class="sub-heading">2. Card with badge</h4>
          <div class="card-small">
            <div class="card-small-image">
              <img src="../assets/sample-1.jpg" alt="" />
              <span class="simple-badge">New</span>
            </div>
            <div class="card-small-content">
              <span class="card-small-title">Hello world</span>
              <p>
                I am a very simple card. I am good at containing small bits of
                information. I am convenient because I require little markup to use
                effectively.
              </p>
            </div>
          </div>

          <div class="display-code">
            <pre class="language-markup"><code><!--
          <div class="card-small">
            <div class="card-small-image">
              <img src="../assets/sample-1.jpg" alt="" />
              <span class="simple-badge">New</span>
            </div>
            <div class="card-small-content">
              <span class="card-small-title">Hello world</span>
              <p>
                I am a very simple card. I am good at containing small bits of
                information. I am convenient because I require little markup to use
                effectively.
              </p>
            </div>
          </div>
            --></code></pre>
          </div>

          <h4 class="sub-heading">3. Card with Dismiss</h4>
          <div class="card-small">
            <div class="card-small-image">
              <img src="../assets/sample-1.jpg" alt="" />
              <span class="card-small-dismiss">
                <i class="far fa-times-circle"></i>
              </span>
            </div>
            <div class="card-small-content">
              <span class="card-small-title">Hello world</span>
              <p>
                I am a very simple card. I am good at containing small bits of
                information. I am convenient because I require little markup to use
                effectively.
              </p>
            </div>
          </div>

          <div class="display-code">
            <pre class="language-markup"><code><!--
          <div class="card-small">
            <div class="card-small-image">
              <img src="../assets/sample-1.jpg" alt="" />
              <span class="card-small-dismiss">
                <i class="far fa-times-circle"></i>
              </span>
            </div>
            <div class="card-small-content">
              <span class="card-small-title">Hello world</span>
              <p>
                I am a very simple card. I am good at containing small bits of
                information. I am convenient because I require little markup to use
                effectively.
              </p>
            </div>
          </div>
            --></code></pre>
          </div>

          <h4 class="sub-heading">4. Card with text overlay</h4>
          <div class="card-small">
            <div class="card-small-image">
              <img src="../assets/sample-1.jpg" alt="" />
              <span class="card-small-text-overlay">Hello World</span>
            </div>
            <div class="card-small-content">
              <p>
                I am a very simple card. I am good at containing small bits of
                information. I am convenient because I require little markup to use
                effectively.
              </p>
            </div>
          </div>

          <div class="display-code">
            <pre class="language-markup"><code><!--
          <div class="card-small">
            <div class="card-small-image">
              <img src="../assets/sample-1.jpg" alt="" />
              <span class="card-small-text-overlay">Hello World</span>
            </div>
            <div class="card-small-content">
              <p>
                I am a very simple card. I am good at containing small bits of
                information. I am convenient because I require little markup to use
                effectively.
              </p>
            </div>
          </div>
            --></code></pre>
          </div>

         <h4 class="sub-heading">5. Image with text overlay</h4>
          <div class="text-overlay-card">
            <img src="../assets/sample-1.jpg" alt="" />
            <div class="text-overlay-content">
              <h2>Heading</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
                placeat quod culpa provident repellat voluptatibus delectus eos vitae
                dolore ex?
              </p>
            </div>
          </div>

          <div class="display-code">
            <pre class="language-markup"><code><!--
          <div class="text-overlay-card">
            <img src="../assets/sample-1.jpg" alt="" />
            <div class="text-overlay-content">
              <h2>Heading</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
                placeat quod culpa provident repellat voluptatibus delectus eos vitae
                dolore ex?
              </p>
            </div>
          </div>
            --></code></pre>
          </div>

          <h4 class="sub-heading">6. Text only card</h4>
          <div class="text-card">
            <h2>Heading</h2>
            <p>
              content Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Blanditiis nulla maiores assumenda alias libero aut error dolore autem.
              Id, optio?
            </p>
          </div>

          <div class="display-code">
            <pre class="language-markup"><code><!--
          <div class="text-card">
            <h2>Heading</h2>
            <p>
              content Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Blanditiis nulla maiores assumenda alias libero aut error dolore autem.
              Id, optio?
            </p>
          </div>
            --></code></pre>
          </div>

          <h4 class="sub-heading">7. Horizontal card</h4>
          <div class="horizontal-card">
            <img
              src="../assets/creating-a-custom-theme.png"
              alt="img"
              class="horizontal-card-img"
            />
            <div class="horizontal-card-content">
              <h2>Heading</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid modi
                quas autem pariatur, ex labore vitae doloribus debitis expedita sequi?
              </p>
            </div>
          </div>

          <div class="display-code">
            <pre class="language-markup"><code><!--
          <div class="horizontal-card">
            <img
              src="../assets/creating-a-custom-theme.png"
              alt="img"
              class="horizontal-card-img"
            />
            <div class="horizontal-card-content">
              <h2>Heading</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid modi
                quas autem pariatur, ex labore vitae doloribus debitis expedita sequi?
              </p>
            </div>
          </div>
            --></code></pre>
          </div>

        <div class="action">
          <button class="btn-float bg-primary doc-float"><i class="fas fa-plus"></i></button>
          <ul>
            <a href="./avatar.html"><li>Avatar</li></a>
            <a href="./alert.html"><li>Alert</li></a>
            <a href="./badge.html"><li>Badge</li></a>
            <a href="./button.html"><li>Button</li></a>
            <a href="./card.html"><li class="current-item">Card</li></a>
            <a href="./image.html"><li>Image</li></a>
            <a href="./input.html"><li>Input</li></a>
            <a href="./list.html"><li>Lists</li></a>
            <a href="./navigation.html"><li>Navigation</li></a>
            <a href="./modal.html"><li>Modal</li></a>
            <a href="./rating.html"><li>Rating</li></a>
            <a href="./grid.html"><li>Grid</li></a>
            <a href="./text-util.html"><li>Text utilities</li></a>
            <a href="./toast.html"><li>Toast</li></a>
          </ul>
        </div>

        </div>

        <script src="../prism.js"></script>
    <script src="../script.js"></script>
    <script
      src="https://kit.fontawesome.com/0c0020b1b8.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
